body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/*  */

/* Navbar */
.navbar {
  height: 5rem;
  background-color: #fdf6f6;
}

.bor {
  font-weight: 500;
  border-radius: 2rem !important;
  background-color: #feedee;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem !important;
  margin: 0.2rem;
  transition: transform 0.5s ease-in;
}

.bor:hover {
  background-color: #ffe2e4;
  transform: scale(1.02);
}

.fa-compass {
  color: #fe424d;
  font-size: 2.1rem;
}
.logo {
  color: #fe424d;
  font-size: 1.7rem;
}
.nav-link {
  color: #222222 !important;
}

/*  */

.search-btn {
  background-color: #ff606b;
  color: #ffeeef;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
}
.search-btn:hover {
  background-color: #fe424d;
  color: #ffeeef;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-input {
  border-radius: 2rem;
  padding: 0.5rem 3rem 0.5rem 3rem;
  background-color: #ffebec;
  transition: transform 0.5s ease-in;
}

.search-input:focus {
  background-color: #ffe2e4 !important;
  border-color: #77b5f7 !important;
  outline: none;
}

.search-input:hover {
  background-color: #ffe2e4;
  transform: scale(1.02);
}

.navbar-collapse {
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar-collapse.active {
  background-color: #ffa6ac;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

/* Footer */

.f-info {
  height: 5.5rem !important;
  background-color: #fdf6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-info-brand {
  flex: 2;
  text-align: center;
}

.f-info-links {
  flex: 4;
  text-align: center;
}

.f-info-links button:hover {
  background-color: #ffe2e4;
}

.f-info-socials {
  flex: 2;
  text-align: center;
}

.f-info-socials i {
  font-size: 1.5rem;
  margin: 0 10px;
  transition: transform 0.2s ease-in;
}

.f-info-socials i:hover {
  transform: scale(1.09);
}

.f-info-socials a {
  text-decoration: none;
  color: black;
}

/* .f-info-brand {
  font-size: 1rem;
} */

.footer-btn {
  margin: 0 8px;
  background-color: #fff0f0;
  border-radius: 1rem;
  font-weight: 600;
}

/* Cards */

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  height: 38vh !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card Effects */

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.15;
  background-color: white;
}

/* New Page */

.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */

.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */

.show-img {
  width: 70vh !important;
  /* height: 450px !important;
  object-fit: cover !important; */
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

.owned {
  font-weight: bold;
  font-style: italic;
}

.owned-description {
  font-weight: 500;
}

.card-titl {
  margin-bottom: 0.7rem;
  font-weight: 600;
  background-color: #ebebeb;
  padding: 0.25rem;
  border-radius: 0.3rem;
}

/* MAP Page */

#map {
  height: 400px;
  width: 80vh;
}

/* Index Page */

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter {
  text-align: center;
  margin-right: 1.7rem;
  opacity: 0.7;
}
.filter p {
  font-size: 0.8rem;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 0.8rem;
  height: 2.8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
  opacity: 0.9;
}

.toggle:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 246);
}

.form-check-input:hover {
  cursor: pointer;
}
/* .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 20;
} */
